In [1]:
a = "hello"

In [2]:
a

'hello'

In [7]:
a.find("o")

4

In [8]:
a="hi"

In [9]:
a

'hi'

In [10]:
type(a)

str

In [11]:
a=5

In [12]:
a

5

In [13]:
for i in range (1,51,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [47]:
for t in range(12,121,12):
    print(t)
    
    for num in range(1,10):
   # print(num)
    print( "12 x {num} = {t} ". format(num,t))

IndentationError: expected an indented block (<ipython-input-47-ef74173bf87b>, line 6)

In [71]:
for t in range(12,121,12):
    
    #print (t)
    
    for num in range(1,11):
        
        #print (num)
        print( "12 x {} = {} ". format(num,t))
        break

12 x 1 = 12
12 x 1 = 24
12 x 1 = 36
12 x 1 = 48
12 x 1 = 60
12 x 1 = 72
12 x 1 = 84
12 x 1 = 96
12 x 1 = 108
12 x 1 = 120

In [72]:
* * * *
* * * *
* * * *
* * * *

SyntaxError: invalid syntax (<ipython-input-72-355a1eb0bcc1>, line 1)

In [69]:
a = 12
b = 10
for row in range(1,a,2):
    for col in range(0,a):
        print(col,end=" ")
    print()

0 1 2 3 4 5 6 7 8 9 10 11
0 1 2 3 4 5 6 7 8 9 10 11
0 1 2 3 4 5 6 7 8 9 10 11
0 1 2 3 4 5 6 7 8 9 10 11
0 1 2 3 4 5 6 7 8 9 10 11
0 1 2 3 4 5 6 7 8 9 10 11

In [43]:
n = 10
for row in range(1,n+1,2):
    for col in range(1,row+1):
        print(col,end=" ")
    print()

1
1 2 3
1 2 3 4 5
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [121]:
r= 5
c= 5
for row in range(1,r+1):
    for col in range(1,c+1):
        print("*",end=" ")
    c+=2
    print()

* * * * *
* * * * * * *
* * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * * *

In [126]:
n = 10
for col in range(1,n):
    for row in range(0,n-col):
        print("*",end=" ")
    print()

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [41]:
n = 10
for col in range(0,n):
    for row in range(0,n-col):
        print(row,end=" ")
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [39]:
n = 10
for col in range(0,n):
    for row in range(0,n-col):
        print(end=" ")
    for l in range(row+1):
        print(l,end= " ")
    print()

          0 1 2 3 4 5 6 7 8 9
         0 1 2 3 4 5 6 7 8
        0 1 2 3 4 5 6 7
       0 1 2 3 4 5 6
      0 1 2 3 4 5
     0 1 2 3 4
    0 1 2 3
   0 1 2
  0 1
 0

In [96]:
a = 15
b = 15
for row in range(a):
    for col in range(b):
        print(row+1,end=" ")
    print()

1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11 11 11 11 11
12 12 12 12 12 12 12 12 12 12 12 12 12 12 12
13 13 13 13 13 13 13 13 13 13 13 13 13 13 13
14 14 14 14 14 14 14 14 14 14 14 14 14 14 14
15 15 15 15 15 15 15 15 15 15 15 15 15 15 15

In [101]:
a = 15
b = 15
for row in range(a):
    for col in range(b):
        print(col+1,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [103]:
r = 7
c = 4
for row in range(r):
    for col in range(c):
        print(col+1,end=" ")
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [29]:
r = 7
c = 5
for row in range(r):
    for col in range(c):
        if ((col ==0 or col==4) and row!=0) or (row==0 or row==3) and (col>0 and col<4):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [113]:
for row in range(9):
    for col in range(15):
        if (col ==0 or col==7 or col==14) or (row==0 or row==4 or row==8):
            print(row,end="")
        else:
            print(end=" ")
    print()

000000000000000
1      1      1
2      2      2
3      3      3
444444444444444
5      5      5
6      6      6
7      7      7
888888888888888

In [94]:
for row in range(9):
    for col in range(11):
        if (col ==0 or col==5 or col==10) or ((row==0 or row==4 or row==8)):
            print(col,end="")
        else:
            print(end=" ")
    print()

012345678910
0    5    10
0    5    10
0    5    10
012345678910
0    5    10
0    5    10
0    5    10
012345678910

In [133]:
for row in range(9):
    for col in range(11):
        if ((col ==0 or col==10) and row!=0 and row!=4 and row!=8) or ((row==0 or row==4 or row==8) and (0<col<10)):
            print(col,end="")  
        else:
            print(end=" ")
    print()

 123456789
0         10
0         10
0         10
 123456789
0         10
0         10
0         10
 123456789

In [129]:
for row in range(9):
    for col in range(11):
        if (col ==0 or col==10 and row!=0 and row!=4 and row!=8) or ((row==0 or row==4 or row==8) and (0<col<10)):
            print(col,end="")  
        else:
            print(end=" ")
    print()

0123456789
0         10
0         10
0         10
0123456789
0         10
0         10
0         10
0123456789

In [147]:
for row in range(9):
    for col in range(11):
        if (col ==0 or col==10 and row!=0 and row!=2 and row!=3 and row!=4 and row!=5 and row!=6 and row!=8) or (row==0 or row==8) and (0<col<10):
            print(col,end="")  
        else:
            print(end=" ")
    print()

0123456789
0         10
0
0
0
0
0
0         10
0123456789

In [148]:
for row in range(9):
    for col in range(11):
        if (col ==0 or col==10 and row!=0 and row!=2 and row!=3 and row!=4 and row!=5 and row!=6 and row!=8) or (row==0 or row==8):
            print(col,end="")  
        else:
            print(end=" ")
    print()

012345678910
0         10
0
0
0
0
0
0         10
012345678910

In [150]:
for row in range(9):
    for col in range(11):
        if (col ==0 or col==10 and row!=0 and row!=8) or (row==0 or row==8) and (0<col<10):
            print(col,end="")  
        else:
            print(end=" ")
    print()

0123456789
0         10
0         10
0         10
0         10
0         10
0         10
0         10
0123456789

In [152]:
for row in range(9):
    for col in range(11):
        if (col ==0 and row!=0 and row!=4 and row!=8) or ((row==0 or row==4 or row==8) and (0<col<10)):
            print(col,end="")  
        else:
            print(end=" ")
    print()

 123456789
0
0
0
 123456789
0
0
0
 123456789

In [154]:
num=int(input("Enter no.:"))
print()
for i in range(1,11):
    print(num,"x",i, "=", num*i)

Enter no.:7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [1]:
pwd

'C:\\Users\\Ankur MVM\\1Test\\Week3'